<!-- <app-diretiva-ngif></app-diretiva-ngif>
<app-diretiva-ng-swicth></app-diretiva-ng-swicth>

<app-diretiva-ng-for></app-diretiva-ng-for>

<app-diretiva-ng-class></app-diretiva-ng-class>


<app-diretiva-ng-style></app-diretiva-ng-style> -->

<!-- <app-diretiva-elvis></app-diretiva-elvis> -->

<!-- <app-diretivang-content>Some quick example text to build on the card title and make up the bulk of the card's content.</app-diretivang-content> -->

<!-- <app-diretiva-host></app-diretiva-host> -->
<app-execercicios></app-execercicios>